{% extends 'layout.html' %}
{% block bc %}
			<br>{{ form.submit }}
			<br>{{ form.cardselect1.label }}
			{{ form.cardselect1 }}
			{{ form.cardselect16.label }}
			{{ form.cardselect16 }}
			<br> {{ form.cardselect2.label }}
			{{ form.cardselect2 }}
			{{ form.cardselect17.label }}
			{{ form.cardselect17 }}
			<br> {{ form.cardselect3.label }}
			{{ form.cardselect3 }}
			{{ form.cardselect18.label }}
			{{ form.cardselect18 }}
			<br> {{ form.cardselect4.label }}
			{{ form.cardselect4 }}
			{{ form.cardselect19.label }}
			{{ form.cardselect19 }}
			<br> {{ form.cardselect5.label }}
			{{ form.cardselect5 }}
			{{ form.cardselect20.label }}
			{{ form.cardselect20 }}
			<br> {{ form.cardselect6.label }}
			{{ form.cardselect6 }}
			{{ form.cardselect21.label }}
			{{ form.cardselect21 }}
			<br> {{ form.cardselect7.label }}
			{{ form.cardselect7 }}
			{{ form.cardselect22.label }}
			{{ form.cardselect22 }}
			<br> {{ form.cardselect8.label }}
			{{ form.cardselect8 }}
			{{ form.cardselect23.label }}
			{{ form.cardselect23 }}
			<br> {{ form.cardselect9.label }}
			{{ form.cardselect9 }}
			{{ form.cardselect24.label }}
			{{ form.cardselect24 }}
			<br> {{ form.cardselect10.label }}
			{{ form.cardselect10 }}
			{{ form.cardselect25.label }}
			{{ form.cardselect25 }}
			<br> {{ form.cardselect11.label }}
			{{ form.cardselect11 }}
			{{ form.cardselect26.label }}
			{{ form.cardselect26 }}
			<br> {{ form.cardselect12.label }}
			{{ form.cardselect12 }}
			{{ form.cardselect27.label }}
			{{ form.cardselect27 }}
			<br> {{ form.cardselect13.label }}
			{{ form.cardselect13 }}
			{{ form.cardselect28.label }}
			{{ form.cardselect28 }}
			<br> {{ form.cardselect14.label }}
			{{ form.cardselect14 }}
			{{ form.cardselect29.label }}
			{{ form.cardselect29 }}
			<br> {{ form.cardselect15.label }}
			{{ form.cardselect15 }}
			{{ form.cardselect30.label }}
			{{ form.cardselect30 }}

{% endblock %}