{% extends 'layout.html' %}
{% block bc %}
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<div class="w3-container w3-round w3-margin w3-border w3-dark-grey">
	<h1>{{ current_user.first_name }} {{ current_user.last_name }}'s Account Page</h1>
	<h4>Update your details here:</h4>
	<div class="form">
		<form method="POST" action="">
			{{ form.hidden_tag() }}
			<div class="form-group">
				{{ form.first_name.label }}
				{{ form.first_name}}
				{% if form.first_name.errors %}
					
					<div class="error">
						{% for error in form.first_name.errors %}
							<span style = "color: red">{{ error }}</span>
						{% endfor %}
					</div>
				{% endif %}
				<br>{{ form.last_name.label }}
				{{ form.last_name}}
				{% if form.last_name.errors %}
					
					<div class="error">
						{% for error in form.last_name.errors %}
							<span style = "color: red">{{ error }}</span>
						{% endfor %}
					</div>
				{% endif %}
				<br>{{ form.email.label }}
				{{ form.email }}
				{% if form.email.errors %}
					
					<div class="error">
						{% for error in form.email.errors %}
							<span style = "color: red">{{ error }}</span>
						{% endfor %}
					</div>
				{% endif %}
			</div><br>
			<div class="form-group">
				{{ form.submit }}
			</div>
		</form>
	</div>
	<div class="form2">
		<form method="POST" action="account">
			<br><h4>Delete Account:</h4>
			<p>Warning: Proceeding with this operation will PERMANENTLY delete your account. For this reason, you must enter your password before proceeding.</p>
			<br>{{ form2.password.label }}
			{{ form2.password }}
			{% if wrongpassword %}
			<p style = "color: red">You have entered an incorrect password. Check your details and try again.</p>
			{% endif %}
			<br><br>{{ form2.delete }}

		</form>
		
	</div>
</div>

{% endblock %}