{% extends 'layout.html' %}
{% block bc %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<div class='w3-container'>
<div class="form">
	<form method="POST", action="/build_a_deck">
		{{ form.hidden_tag() }}
		<div class="form-group">
			<br><h4>Create a Deck:</h4>
			{{ form.deckname.label }}
			{{ form.deckname }}
			<br>{{ form.decksize.label }}
			{{ form.decksize }}
			{{ form.submit2 }}
			{% if decksize.data %}
			{% for  %}
			<br> {{ form.cardselect }}
	</form>
</div>
</div>

{% endblock %}