{% extends 'layout.html' %}
{% block bc %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div class="w3-container w3-round w3-margin w3-dark-grey">
<div class='w3-row'>
<div class='w3-third w3-container'>
	<div class="form">
	<form method="POST", action="/search_by_name">
	{{ form.hidden_tag() }}
	<div class="form-group">
	<br>{{ form.search_term.label }}
	{{ form.search_term }}
	{{ form.submit }}
	{% if form.search_term.errors %}
		<div class="error">
			{% for error in form.search_term.errors %}
				<span>{{ error }}</span>
			{% endfor %}
		</div>
	{% endif %}
	</div>
	</div>
</div>
<div class='w3-third w3-container'>
	<h4>Include types:</h4>
	<div class="form">
		<form method="POST" action="/search_by_name">
			<div class="form-group">
				{{ form.bug.label }}
				{{ form.bug }}
				{{ form.business.label }}
				{{ form.business }}
				{{ form.earth.label }}
				{{ form.earth }}
				{{ form.dark.label }}
				{{ form.dark }}<br>
				{{ form.fire.label }}
				{{ form.fire }}
				{{ form.light.label }}
				{{ form.light }}
				{{ form.machine.label }}
				{{ form.machine }}
				{{ form.water.label }}
				{{ form.water }}<br><br>
				{{ form.alltypes.label }}
				{{ form.alltypes }}
			</div>
	</div>
</div>
<div class='w3-third w3-container'>
	<h4>Include classes:</h4>
	<div class="form">
		<form method="POST" action="/search_by_name">
			<div class="form-group">
				{{ form.arachnid.label }}
				{{ form.arachnid }}
				{{ form.beast.label }}
				{{ form.beast }}
				{{ form.boss.label }}
				{{ form.boss }}
				{{ form.demon.label }}
				{{ form.demon }}
				{{ form.fish.label }}
				{{ form.fish }}<br>
				{{ form.flame.label }}
				{{ form.flame }}
				{{ form.food.label }}
				{{ form.food }}
				{{ form.goodboi.label }}
				{{ form.goodboi }}
				{{ form.larva.label }}
				{{ form.larva }}
				{{ form.lepidoptera.label }}
				{{ form.lepidoptera }}
				{{ form.noble.label }}
				{{ form.noble }}
				{{ form.staff.label }}
				{{ form.staff }}
				{{ form.warrior.label }}
				{{ form.warrior }}<br><br>
				{{ form.allclasses.label }}
				{{ form.allclasses }}
			</div>
		</form>
	</div>
</div>
</div>
<div class='w3-container'>
	{% if form.search_term.data %}
	{% if cardslength > 1 %}
	<h4>Showing {{ cardslength }} results containing "{{ form.search_term.data }}":</h4>
	{% else %}
	<h4>Showing {{ cardslength }} result containing "{{ form.search_term.data }}":</h4>
	{% endif %}
	
	{% for card in cards %}
	<img src = {{ card.path }} alt = "card" width = "15%"">
	<p>Name: {{ card.name }}</p>
	<p>Type: {{ card.type }}</p>
	<p>Class: {{ card.class1 }} / {{ card.class2 }}</p>
	<p>Attack: {{ card.attack }}</p>
	<p>Defence: {{ card.defence }}</p>
	<p>Alignment: {{ card.alignment }}</p><br>
	{% endfor %}
	{% endif %}
</div>
</div>

{% endblock %}