{% extends 'layout.html' %}
{% block bc %}

<style>
  .mySlides {display:block;}
</style>
<div class="w3-container w3-black">
<div class="w3-content w3-section w3-black" style="max-width:400px">
  <img class="mySlides w3-animate-right" src="../static/k-knightcard.png" style="width:100%">
  <img class="mySlides w3-animate-right" src="../static/princesspoochcard.png" style="width:100%">
  <img class="mySlides w3-animate-right" src="../static/fishlordcard.png" style="width:100%">
  <img class="mySlides w3-animate-right" src="../static/salamanagercard.png" style="width:100%">
  <img class="mySlides w3-animate-right" src="../static/conducktorcard.png" style="width:100%">
  <img class="mySlides w3-animate-right" src="../static/caterpillagecard.png" style="width:100%">
  <img class="mySlides w3-animate-right" src="../static/flamechrysaliscard.png" style="width:100%">
  <img class="mySlides w3-animate-right" src="../static/butterflamecard.png" style="width:100%">
</div>
<div>

<script>
var myIndex = 0;
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("mySlides");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  myIndex++;
  if (myIndex > x.length) {myIndex = 1}    
  x[myIndex-1].style.display = "block";  
  setTimeout(carousel, 4200);    
}
</script>

</div>
</div>
		
{% endblock %}