{% extends 'layout.html' %}
{% block bc %}

<style>
  .mySlides {display:block;}
</style>

<div class="w3-card w3-dark-grey w3-center w3-round-xlarge w3-border w3-padding w3-margin">
  <div class="w3-content w3-section w3-dark-grey" style="max-width:800px">
    <div class="mySlides w3-animate-right w3-card-4 w3-grey">
      <div class="w3-row">
        <div class="w3-cell w3-container">
          <h4>K-Knight</h4>
          <p>K-Knight is the latest in a long line of pedigree servants to the forces of good. Renowned across the land as the very best of bois, K-Knight's loyality to the cause of defending peace, justic and his favourite sqeaker toy is unyielding.</p>
        </div>
        <div class="w3-cell w3-container">
          <img src="../static/k-knightcard.png" style="width:180%">
        </div>
      </div>
    </div>
  <div class="mySlides w3-animate-right w3-card-4 w3-grey">
    <div class="w3-row">
        <div class="w3-cell w3-container">
          <h4>Princess Pooch</h4>
          <p>A princess in name only, as the days of the monarchy are long since past, Princess Pooch had this name bestowed upon her to celebrate her status as one of the finest canines in the land..  </p>
        </div>
    <div class="w3-cell w3-container">
      <img src="../static/princesspoochcard.png" style="width:180%">
    </div>
    </div>
  </div>
  <div class="mySlides w3-animate-right w3-card-4 w3-grey">
    <div class="w3-row">
        <div class="w3-cell w3-container">
          <h4>Fish Lord</h4>
          <p>Few have actually come face to faces with this entity, and fewer still lived to tell the tale. Legends say millenia ago, another being appeared who had the strength  to rival Fish Lord. A fierce battle took place, at the end of which there stood no clear victor. It retreated to the depths, where it is said to remain to this day.</p>
        </div>
    <div class="w3-cell w3-container">
      <img src="../static/fishlordcard.png" style="width:180%">
    </div>
  </div>
  </div>
  <div class="mySlides w3-animate-right w3-card-4 w3-grey">
    <div class="w3-row">
      <div class="w3-cell w3-container">
          <h4>Salamanager</h4>
          <p>Amphibious Ltd may not be a leading organisation, but it's one that Salamanager has built up from nothing, and as such, he's extremely proud of it. It's for this reason and many others that he has refused countless buyout proposals from Bear CEO (not least because she insists on paying him in salmon).</p>
        </div>
      <div class="w3-cell w3-container">
        <img src="../static/salamanagercard.png" style="width:180%">
      </div>
    </div>
  </div>
  <div class="mySlides w3-animate-right w3-card-4 w3-grey">
    <div class="w3-row">
      <div class="w3-cell w3-container">
          <h4>Databison</h4>
          <p>Ever heard the term "absolute unit"? Well, Databison is an abosulte data storage unit. No file is too large, no query too convoluted. Wielding immeasurable ACID and CRUD powers, this majestic entity is db.session.commited to the noble cause of data storage and query-based retrieval.</p>
        </div>
      <div class="w3-cell w3-container">
        <img src="../static/databisoncard.png" style="width:180%">
      </div>
    </div>
  </div>
  <div class="mySlides w3-animate-right w3-card-4 w3-grey">
    <div class="w3-row">
      <div class="w3-cell w3-container">
          <h4>Caterpillage</h4>
          <p>This is one bug you don't want to try to step on. At an intimidating average of 8 feet long, large gatherings of this flame-reathed floor crawler devastated towns and villages millenia ago. Today, only fraction of their prior population remains, deep in the southern ash forests.</p>
        </div>
      <div class="w3-cell w3-container">
        <img src="../static/caterpillagecard.png" style="width:180%">
      </div>
    </div>
  </div>
  <div class="mySlides w3-animate-right w3-card-4 w3-grey">
    <div class="w3-row">
      <div class="w3-cell w3-container">
          <h4>Flame Chrysalis</h4>
          <p>Following sufficient feeding, Caterpillage begins the transition into its next devestating form. As this metamorphosis progresses, it lies dormant in its cocoon. Do not let appearances deceive, however. Any attempt to disturb its slumber will prompt a swift rush of devestating heat to rush to its surface, repelling attackers.</p>
        </div>
      <div class="w3-cell w3-container">
        <img src="../static/flamechrysaliscard.png" style="width:180%">
      </div>
    </div>
  </div>
  <div class="mySlides w3-animate-right w3-card-4 w3-grey">
    <div class="w3-row">
      <div class="w3-cell w3-container">
          <h4>Butterflame</h4>
          <p>The majestic final form of Caterpillage. With an average wingspan of 10 feet across, this terrifyingly beautiful creature was once known for bringing an end to entire peoples with its firey wrath.</p>
        </div>
      <div class="w3-cell w3-container">
        <img src="../static/butterflamecard.png" style="width:180%">
      </div>
    </div>
  </div>
</div>

<script>
var myIndex = 0;
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("mySlides");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  myIndex++;
  if (myIndex > x.length) {myIndex = 1}    
  x[myIndex-1].style.display = "block";  
  setTimeout(carousel, 4200);    
}
</script>

</div>
</div>
		
{% endblock %}