{% extends 'layout.html' %}
{% block bc %}

<style>
  .mySlides {display:block;}
</style>
<div class="w3-container w3-black">
  <div class="w3-content w3-section w3-black" style="max-width:400px">
    <div class="mySlides w3-animate-right w3-card-4 w3-dark-grey">
      <div class="w3-row">
        <div class="w3-third w3-container">
          <h4>This is a header</h4>
          <p>This is some longer text because I want to see what happens when I make the text longer. Blah blah blah blah...</p>
        </div>
      <div class="w3-third w3-container">
        <img src="../static/k-knightcard.png" style="width:400%">
      </div>
      <div class="w3-third w3-container">
    </div>
  </div>
  </div>
  <div class="mySlides w3-animate-right w3-card-4 w3-dark-grey">
    <div class="w3-container">
      <img src="../static/princesspoochcard.png" style="width:100%">
    </div>
  </div>
  <div class="mySlides w3-animate-right w3-card-4 w3-dark-grey">
    <div class="w3-container">
      <img src="../static/fishlordcard.png" style="width:100%">
    </div>
  </div>
  <div class="mySlides w3-animate-right w3-card-4 w3-dark-grey">
    <div class="w3-container">
      <img src="../static/salamanagercard.png" style="width:100%">
    </div>
  </div>
  <div class="mySlides w3-animate-right w3-card-4 w3-dark-grey">
    <div class="w3-container">
      <img src="../static/conducktorcard.png" style="width:100%">
    </div>
  </div>
  <div class="mySlides w3-animate-right w3-card-4 w3-dark-grey">
    <div class="w3-container">
      <img src="../static/caterpillagecard.png" style="width:100%">
    </div>
  </div>
  <div class="mySlides w3-animate-right w3-card-4 w3-dark-grey">
    <div class="w3-container">
      <img src="../static/flamechrysaliscard.png" style="width:100%">
    </div>
  </div>
  <div class="mySlides w3-animate-right w3-card-4 w3-dark-grey">
    <div class="w3-container">
      <img src="../static/butterflamecard.png" style="width:100%">
    </div>
  </div>
</div>
</div>

<script>
var myIndex = 0;
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("mySlides");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  myIndex++;
  if (myIndex > x.length) {myIndex = 1}    
  x[myIndex-1].style.display = "block";  
  setTimeout(carousel, 4200);    
}
</script>

</div>
</div>
		
{% endblock %}