{% extends 'layout.html' %}
{% block bc %}
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

	<br>
	<div class="w3-row">
	<div class="w3-third w3-container">
	</div>
	<div class="w3-third w3-container">
	<div class="w3-card w3-round w3-padding w3-center w3-dark-grey w3-border">
	<p>Register an account:</p>

	<div class="form">
		<form method="POST" action="">
			{{ form.hidden_tag() }}
			<div class="form-group">
				{{ form.first_name.label }}
				{{ form.first_name}}
				{% if form.first_name.errors %}
					
					<div class="error">
						{% for error in form.first_name.errors %}
							<span style = "color: red">{{ error }}</span>
						{% endfor %}
					</div>
				{% endif %}
				<br>{{ form.last_name.label }}
				{{ form.last_name}}
				{% if form.last_name.errors %}
					
					<div class="error">
						{% for error in form.last_name.errors %}
							<span style = "color: red">{{ error }}</span>
						{% endfor %}
					</div>
				{% endif %}
				<br>{{ form.email.label }}
				{{ form.email }}
				{% if form.email.errors %}
					
					<div class="error">
						{% for error in form.email.errors %}
							<span style = "color: red">{{ error }}</span>
						{% endfor %}
					</div>
				{% endif %}
				<br>{{ form.password.label }}
				{{ form.password }}
				{% if form.password.errors %}
					<div class="error">
						{% for error in form.password.errors %}
							<span style = "color: red">{{ error }}</span>
						{% endfor %}
					</div>
				{% endif %}
				<br>{{ form.confirm_password.label }}
				{{ form.confirm_password }}
				{% if form.confirm_password.errors %}
					<div class="error">
						{% for error in form.confirm_password.errors %}
							<span style = "color: red">{{ error }}</span>
						{% endfor %}
					</div>
				{% endif %}
			</div><br>
			<div class="form-group">
				{{ form.submit }}
			</div>
		</form>
	</div>
</div>
</div>
</div>
<br style="line-height: :100">
<br style="line-height: :100">
<br style="line-height: :100">
<br style="line-height: :100">
<br style="line-height: :100">
<br style="line-height: :100">
<br style="line-height: :100">
<br style="line-height: :100">
<br style="line-height: :100">
</div>

{% endblock %}